.player-card {
    margin: 2% 5%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 601px) {
    .player-card {
        margin: 10% calc((100% - 259px)/2);
    }
}

.screen {
	box-sizing: border-box;
	padding: 20px 10px 2.5px 10px;
	display: block;
	margin: 0 auto;
	width: 962px;
	min-height: 96px;
}